body {
  font-family: "Inter", sans-serif;
 
      
}

a {
    text-decoration: none;
}

header {
    display: grid;
    background-color: #043873;
    padding: 16px 220px;
    justify-content: space-between;
    color: white;
}

nav {
    text-align: right;
}

#hero-section {
    background-color: #043873;
    color: white;
}

#login {
    background-color: #FFE492;
    padding: 16px 40px 16px 40px;
    border-radius: 8px;
    height: 60px;
    width: 126px;
    gap: 10px;
    size: 18px;
    line-height: 23px;
    letter-spacing: -2%;
}

#free-trial {
    background-color: #4F9CF9;
    padding: 16px 24px 16px 24px;
    border-radius: 8px;
    gap: 10px;
    color: white;
    size: 18px;
    line-height: 23px;
    letter-spacing: -2%;
}

h1 {
    width: 656px;
    height: 154px;
    size: 64px;
    line-height: 100%;
    letter-spacing: -2%;
}

#image-container {
    width: 524px;
    height: 349px;
    gap: 4px;
    background-color: #C4DEFD;
}

#get-started {
    width: 201px;
    height: 63px;
    padding: 20px 40px 20px 40px;
    gap: 10px;
    background-color: #4F9CF9;
    color: white;
    size: 18px;
    line-height: 23px;
    letter-spacing: -2%;
   
}

#work-together-image {
    width: 10px;
    height: 261px;
    border: 2px;
    border-color: #A7CEFC;
}

#work-management {
    background-color: white;
    /* padding: 140px 220px 140px 220px; */
    gap: 100px;
    width: 1920px;
    height: 1588px;
    top: 921px;
}

.extension {
  background-color: #043873;
}

#work-everywhere {
    background-color: #043873;
    height: 154px;
    width: 1600px;
    top: 5000px;
    padding: 140px 220px;
    color: #FFFFFF;
}

#personal-plan {
    background-color: #043873;
    padding: 80px 44px;
    border-radius: 10px;
}

#personal-plan > h4 {
    color: #FFE492;
}

.sponsors {
    display: grid;
    justify-content: space-between;
}

.applications {
  background-color: #043873;
  padding: 50px 100px;
  gap: 100px;
  color: white;

}

.contact-sales {
  background-color: #043873;
  padding: 140px 220px 32px 220px;
  gap: 200px;
  width: 1920px;
  height: 600px;
  top: 7500px;
  color: white;
}

footer {
  background-color: #043873;
  color: white;
  padding: 140px 220px 420px 220px;
  width: 1920px;
  height: 474px;
  gap: 200px;

}