* {
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  background-color: #043873;
  padding: 16px 220px;
  justify-content: space-evenly;
  color: white;
  text-decoration: none;
}

.nav-list {
  text-decoration: none;
  color: #ffffff;
  gap: 32px;
}

.hero-section {
  background-color: #043873;
  color: white;
  display: flex;
  justify-content: center;
  gap: 60px;
}

#login {
  background-color: #ffe492;
  padding: 16px 40px;
  border-radius: 8px;
  height: 60px;
  width: 126px;
  gap: 10px;
  size: 18px;
  line-height: 23px;
  letter-spacing: -2%;
}

.free-trial {
  background-color: #4f9cf9;
  padding: 16px 24px;
  border-radius: 8px;
  gap: 10px;
  color: white;
  size: 18px;
  line-height: 23px;
  letter-spacing: -2%;
}

h1 {
  width: 656px;
  height: 154px;
  size: 64px;
  line-height: 100%;
  letter-spacing: -2%;
}

.image-container {
  width: 524px;
  height: 349px;
  gap: 4px;
  background-color: #c4defd;
}

.get-started {
  width: 201px;
  height: 63px;
  padding: 20px 40px;
  gap: 10px;
  background-color: #4f9cf9;
  color: white;
  size: 18px;
  line-height: 23px;
  letter-spacing: -2%;
}

#work-together-image {
  border: 2px;
  border-color: #a7cefc;
}

.work-management {
  background-color: white;
  /* padding: 140px 220px 140px 220px; */
  gap: 100px;
  width: 1520px;
  height: 728px;
  top: 921px;
}

.work-field {
  display: flex;
}

.extension {
  background-color: #043873;
}

#work-everywhere {
  background-color: #043873;
  height: 154px;
  width: 1600px;
  top: 5000px;
  padding: 140px 220px;
  color: #ffffff;
}

#personal-plan {
  background-color: #043873;
  padding: 80px 44px;
  border-radius: 10px;
}

#personal-plan > h4 {
  color: #ffe492;
}

.sponsors {
  display: flex;
  justify-content: space-evenly;
}

#sponsor-header {
  text-align: center;
  size: 72px;
  line-height: 100%;
  letter-spacing: -2%;
  font-style: bold;
}

.applications {
  background-color: #043873;
  padding: 50px 100px;
  gap: 100px;
  color: white;
}

.contact-sales {
  background-color: #043873;
  padding: 140px 220px 32px;
  gap: 200px;
  width: 1920px;
  height: 600px;
  top: 7500px;
  color: white;
}

.footer-container {
  display: flex;
  background-color: #043873;
  color: white;
  padding: 140px 220px 420px;
  width: 1920px;
  height: 474px;
  gap: 200px;
}

.client2-testimonial {
  background-color: #4f9cf9;
  color: white;
}

.client-name {
  font-weight: 600;
  size: 24px;
  line-height: 36px;
  color: #212529;
}

.social-links {
  background-color: #043873;
}

.client-feedback {
  display: flex;
  border-radius: 10px;
  gap: 32px;
}

.data-section {
  display: flex;
  justify-content: center;
}
